<div class="register-wrapper">
  <div class="register-form-container">
    <form [formGroup]="registerForm">
      <h1>Register new account</h1>
      <mat-form-field class="full-width">
        <mat-label> Email address </mat-label>
        <input matInput placeholder="Email address" formControlName="email" />
        <mat-error
          *ngIf="
            registerForm.get('email').touched &&
            !registerForm.get('email').valid
          "
          >Email is required!</mat-error
        >
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label> Password </mat-label>
        <input matInput placeholder="Password" formControlName="password1" />
        <mat-error
          *ngIf="
            registerForm.get('password1').touched &&
            !registerForm.get('password1').valid
          "
          >Field is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label> Password 2x </mat-label>
        <input matInput placeholder="Password 2x" formControlName="password2" />
        <mat-error
          *ngIf="
            registerForm.get('password2').touched &&
            !registerForm.get('password2').valid
          "
          >Field is required</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        class="full-width login-button"
        (click)="register()"
        [disabled]="!registerForm.valid"
        color="primary"
      >
        REGISTER
      </button>
    </form>
  </div>
</div>
