.login-wrapper {
  overflow: none;
  .login-form-container {
    .login-form {
      width: 90%;
      background-color: white;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -25%);

      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.25rem 0.5rem;
      border-radius: 0.8rem;
      
      padding: 1.5rem 0.5rem;
      // margin: 1rem 0.5rem;
      
      h1{
        text-align: center;
      }
      .full-width {
        width: 90%;
      }
      .login-button{
        margin: 2rem 0;
      }
      .forgot-password{
        width: 90%;
        display: flex;
        justify-content: flex-end;
      }
      .divider{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .dividers{
          width: 40%;
        }
        .divider-text{
          padding: 0.5rem 0.5rem
        }
      }
      .sign-up{
        // width: 100%;
        text-align: center;
      }
    }
  }
}
@media (min-width: 600px){
  .login-form {
      min-width: 9.5rem;
      max-width: 21.25rem;
      width: 100%;
  }
}