<div class="login-wrapper">
  <div class="login-form-container">
    <form class="login-form" [formGroup]="loginFormGroup">
      <h1>Login</h1>
      <mat-form-field class="full-width">
        <mat-label> Email address </mat-label>
        <input matInput placeholder="Email address" formControlName="email" />
        <mat-error
          *ngIf="
            loginFormGroup.get('email').touched &&
            !loginFormGroup.get('email').valid
          "
          >Username is required!</mat-error
        >
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label> Password </mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password"/>
        <mat-error
          *ngIf="
            loginFormGroup.get('password').touched &&
            !loginFormGroup.get('password').valid
          "
          >Password is required</mat-error
        >
      </mat-form-field>
      <div class="forgot-password">
        <a
          [routerLink]="['/login/forgot-password']"
          routerLinkActive="router-link-active"
          >Forgot your password?</a
        >
      </div>
      <button
        mat-raised-button
        class="full-width login-button"
        (click)="login()"
        [disabled]="!loginFormGroup.valid"
        color="primary"
      >
        LOGIN
      </button>
      <div class="divider">
        <div class="dividers"><mat-divider></mat-divider></div>
        <div class="divider-text">or</div>
        <div class="dividers"><mat-divider></mat-divider></div>
      </div>
      <div class="sign-up">
        <span
          >Not a member yet?
          <a
            [routerLink]="['/registration']"
            routerLinkActive="router-link-active"
            >Sign up</a
          >
          now!</span
        >
      </div>
    </form>
  </div>
</div>
