/* You can add global styles to this file, and also import other style files */
$background-gray: #E9E9E9;

html,
body {
  height: 100%;
  
}
body {
  margin: 0;
  background-color: $background-gray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
