<div class="navigation-wrapper" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="fixed-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 [routerLink]="['/home']" routerLinkActive="router-link-active" >Web page</h1>
    <span class="spacer"></span>
    <button mat-icon-button class="login-button" aria-hidden="false" routerLink="login" *ngIf="!userService.isAuthenticated()" title="Login">
      <mat-icon >login</mat-icon>
    </button>
    <button mat-icon-button class="logout-button" aria-hidden="false" routerLink="profile" *ngIf="userService.isAuthenticated()" title="Profile">
      <mat-icon >account_circle</mat-icon>
    </button>
    <button mat-icon-button class="login-button" aria-hidden="false" *ngIf="userService.isAuthenticated()" (click)="userService.logout()" title="Logout">
      <mat-icon >logout</mat-icon>
    </button>

    
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="home">Home</a>
        <a mat-list-item>B</a>
        <a mat-list-item>C</a>
        <a mat-list-item>D</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
