.navigation-wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .spacer{
    flex: 1 1 auto;
  }
  .login-button{
    padding: 0 1rem;
    &:hover{
      cursor: pointer;
    }
  }
  .fixed-toolbar{
    h1{
      &:hover{
        cursor: pointer;
      }
    }
  }
  .is-mobile .fixed-toolbar{
    position: fixed;
    z-index: 2;
  }
  .sidenav-container{
    flex: 1;
  }
  .is-mobile .sidenav-container{
    flex: 1 0 auto;
  }
  // .sidenav-content{
  //   background-color: $background-gray;
  // }
}